* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    /* background-color: aqua; */
    background-color: rgba(0, 0, 0, 0.1);
    /* background: transparent; */
    width: 100%;
    height: 5rem;
    z-index: 9999;
}

.navbar .menu .text-right {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 1.19rem;
    color: black;
}

ul li a {
    text-decoration: none;
    color: red;
}

ul li:hover {
    border-radius: 10px;
}

ul li a:hover {
    color: blueviolet;
}


.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.container .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.container .change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.container .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* Hide menu by default */
.menu {
    display: none;
}

/* Show menu when container has change class */
.container.change+.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    position: relative;
    margin-top: 5rem;
    width: 100%;
    height: 100%;
}

.search img {
    width: 100%;
    height: 15rem;
    display: block;
    object-fit: cover;
}

.search-text {
    position: absolute;
    top: 0;
    left: 30%;
    right: 30%;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border: none;
}

.search-text input {
    width: 30rem;
    height: 2.5rem;
    margin-right: 0.2rem;
    border-radius: 5px;
    border: none;
    padding-left: 1rem;
}

.search-text button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(238, 45, 77);
    color: white;
}

#explore {
    width: 100%;
}

#explore .explore {
    width: 100%;
    display: flex;
    justify-content: center;
}

#explore h1 {
    text-align: center;
    margin: 70px;
    margin-bottom: 20px;
}

.explore img {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    height: 18rem;
}

.explore-img p {
    position: relative;
    bottom: 3rem;
    text-align: center;
    color: white;
    font-size: 20px;
}

#food {
    width: 100%;
}

#food h1 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.food {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.food-card {
    display: flex;
    width: 100%;
    margin: 10px;
    background-color: aqua;
    padding: 20px;
    border-radius: 30px;
}

.food img {
    height: 60px;
    width: auto;
    margin-right: 1rem;
    border-radius: 20px;
    align-self: flex-start;
}

.food-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.food-txt button {
    width: 90px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: brown;
}

#food a {
    font-size: 1.3rem;
    display: block;
    width: 15%;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    color: red;
}

#footer .footer {
    width: 100%;
    background-color: antiquewhite;
    margin-bottom: 20px;
}

#footer .footer .socials {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    justify-content: center;
}

.social-item {
    margin: 10px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.4s ease-in filter;

}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    text-align: center;
    margin-bottom: 10px;
}




/* Responsive styles */
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

    .navbar {
        flex-direction: row;
        align-items: flex-start;
        padding: 1em;
    }

    .navbar img {
        width: 80%;
    }

    .navbar .container {
        padding: 5%;
    }

    .search {
        width: 100%;
    }

    .search-text {
        width: 15rem;
        margin: 5px;
    }

    .search-text input {
        width: 9rem;
        height: 2rem;
        padding: 4px;
    }

    .search-text button {
        width: 10rem;
        height: 2rem;
    }

    .explore {
        flex-direction: column;
        align-items: center;
    }

    .explore-img {
        width: 90%;
        margin-bottom: 10px;
    }

    .explore-img img {
        width: 100%;
        height: auto;
    }

    .explore-img p {
        width: 100%;
        text-align: center;
    }

    .food {
        width: 50%;
    }

    .food-card {
        width: 13rem;
        padding: 10px;
    }

    .food-img {
        width: 10%;
        margin-right: 3rem;
    }

    #footer .footer {
        width: 100%;
        padding: 1em;
        text-align: center;
    }

    .container {
        display: inline-block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .container.change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    /* Fade out the second bar */
    .container.change .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .container.change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
}

@media (min-width: 768px) {
    .menu {
        display: flex;
        flex-direction: row;
    }

    .container {
        display: none;
    }
}